table {
    border: 5px solid red;
}

tr {
    height: 50px;
}

td {
    background-color: black;
    color: white;

    font-size: 22pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 50px;
}

#h1 {
    text-align: center;
    color: blueviolet;
    font-size: 30pt;
}